<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dreamhealthy"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamHealthy"
        tools:targetApi="31">
        <activity
            android:name=".SundayAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".SaturdayAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".FridayAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".ThursdayAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".WednesdayAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".TuesdayAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".TomorrowAlarmActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".Ricevitore_Dati.DataReceiverService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/simulated_metrics"
                    android:scheme="wear" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.wearable.BIND_LISTENER"
                android:value="true" />
        </service>
        <activity
            android:name=".TodayChartActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmStopActivity"
            android:exported="false" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true" />

        <activity
            android:name=".WeekValuesMenuActivity"
            android:exported="false" />
        <activity
            android:name= ".week_activity.SundayActivity"
            android:exported="false" />
        <activity
            android:name=".chart_activity.SundayChartActivity"
            android:exported="false" />
        <activity
            android:name=".week_activity.SaturdayActivity"
            android:exported="false" />
        <activity
            android:name=".chart_activity.SaturdayChartActivity"
            android:exported="false" />
        <activity
            android:name=".week_activity.FridayActivity"
            android:exported="false" />
        <activity
            android:name=".chart_activity.FridayChartActivity"
            android:exported="false" />
        <activity
            android:name=".week_activity.ThursdayActivity"
            android:exported="false" />
        <activity
            android:name=".chart_activity.ThursdayChartActivity"
            android:exported="false" />
        <activity
            android:name=".week_activity.WednesdayActivity"
            android:exported="false" />
        <activity
            android:name=".chart_activity.WednesdayChartActivity"
            android:exported="false" />
        <activity
            android:name=".week_activity.TuesdayActivity"
            android:exported="false" />
        <activity
            android:name=".chart_activity.TuesdayChartActivity"
            android:exported="false" />
        <activity
            android:name=".MondayAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".MorningUsefulAdvinceActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoUsefulAdvinceActivity"
            android:exported="false" />
        <activity
            android:name=".FoodUsefulAdvinceActivity"
            android:exported="false" />
        <activity
            android:name=".UsefulAdvinceActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmNaturalActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmMelodiesActivity"
            android:exported="false" />
        <activity
            android:name=".WakeUpWeatherActivity"
            android:exported="false" />
        <activity
            android:name=".WakeUpMountActivity"
            android:exported="false" />
        <activity
            android:name=".WakeUpNatureActivity"
            android:exported="false" />
        <activity
            android:name=".WakeUpMelodiesActivity"
            android:exported="false" />
        <activity
            android:name=".SleepDreamsActivity"
            android:exported="false" />
        <activity
            android:name=".SleepForestActivity"
            android:exported="false" />
        <activity
            android:name=".SleepSeaActivity"
            android:exported="false" />
        <activity
            android:name=".SleepMelodiesActivity"
            android:exported="false" />
        <activity
            android:name=".MelodyActivity"
            android:exported="false" />
        <activity
            android:name=".MyAlarmsClockActivity"
            android:exported="false" />
        <activity
            android:name=".chart_activity.MondayChartActivity"
            android:exported="false" />
        <activity
            android:name=".week_activity.MondayActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>